
.card {
    border: 8px solid #e7e9eb;
    color: rgb(63, 62, 62);
    margin-bottom: 2rem;
    margin: auto;
    margin-top: 20px;
  }

  .advance-search-align{
    text-align: center;
    padding: 10px;
  }

  #advanced-search{
    display: inline;
    font-size: 14px;
  }
  .cardsArea{
    margin: auto;
  }

  .advance-search-button{
    background-color: transparent;
    border-color: transparent;
  }

  .advance-search-button:hover{
    color: rgba(57, 181, 74, 1);
  }

  .list-group{
    background-color: #e7e9eb;
  }

  .bg-light {
    background-color: #e7e9eb !important;
  }

  .background{
    background: rgb(232,232,232);
    margin: auto;
    margin-bottom: 100px;
    padding-top: 20px;
    width: 50%;
    margin-top: 40px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.24);
  }

  .form{
    border-radius: 5px;
    padding-top: 40px;
    padding-bottom: 50px;
    margin: auto;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  select {
    padding: 12px 20px;
    margin: 8px 0;
    width: 40%;
    border: 1px solid black;
    box-sizing: border-box;
  }


  input[type=number]{
    border: 1px solid black;
    border-radius: unset;
  }

  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus,
  .uneditable-input:focus {   
    border-color: rgba(57, 181, 74, 1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 2px rgba(57, 181, 74, 1);
    outline: 0 none;
  }
  
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2339B54A' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2339B54A' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

  select:hover{
    cursor: pointer;
    opacity: 1;
  }

  .container{
    margin: auto;
  }

  .button{
    background-color: rgba(57, 181, 74, 1);
    border: none;
    color: white;
    padding: 15px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
  }

  .modal-button{
    background-color: transparent;
    border: 1px solid rgba(57, 181, 74, 1);
    color: rgba(57, 181, 74, 1);
    padding: 10px 37px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .details-button{
    background-color: transparent;
    border: none;
    color: rgba(57, 181, 74, 1);
    display: inline;
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
  }

  .modal-button:hover{
    background-color: grey;
    border: 1px solid grey;
    color: white;
  }

  .button:hover{
    background-color: grey;
  }

  .container{
    margin-bottom: 0px !important;
  }

  @media screen and (min-width: 676px) {
    .modal-dialog {
      max-width: 800px; /* New width for default modal */
    }
  }
  @media only screen and (max-width: 1383px){
    .background{
      width: 80%;
    }
  } 
  @media only screen and (max-width: 746px){
    .background{
      width: 95%;
      margin: auto;
      margin-top: 50px;
      padding-bottom: 100px;
      margin-bottom: 70px;
    }

    .form{
      padding: 20px;
      padding-bottom: unset;
      margin: auto;
      width: 100%;
      text-align: center;
    }
  }

  @media only screen and (max-width: 673px){
    .background{
      width: 90% !important;
      margin: auto;
      margin-top: 50px;
      padding-bottom: 100px;
      margin-bottom: 70px;
    }

    .card {
      width: 20rem !important;
    }

    .cardimg {
      width: 100% !important;
    }

    .form{
      padding-bottom: unset;
      margin: auto;
      width: 100%;
      text-align: center;
    }
  }
